body{
    color: #555555
    background-color: #f4f4f4;
    font: normal 16px arial, helvetica, sans-serif;
    line-height:1.6em;
    margin:0;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: red;
}
a:active{
    color: green;
}
.container{
    width: 80%;
    margin: auto;
    padding: 0;
}
.button{
    background-color: black;
    color: #ffffff;
    padding: 10px 15px;
    border: none;
}
.clr{
    clear: both;

}
.box-1{
    background-color: #333333;
    color: #ffffff;
    border: 5px red solid;
    border-bottom-width: 10px;
    border-top-style: dotted;
    padding: 20px;
    margin: 20px; 0px;

}
.box-1 h1{
    font-family: tahoma;
    font-weight: 800;
    font-style: italic;
    text-decoration: underline;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    word-spacing: 0.5em;

}
.box-2{
    border: 3px solid blue;
    padding: 20px;
    margin: 20px;
}
.categories{
    border:1px grey solid;
    padding:10px;
    border-radius: 15px;
}
.categories h2{
    text-align: center;
}
.categories ul{
    padding: 25px;
    list-style: square;
    font-size: 30px;
}
.categories li{
    padding-bottom: 8px;
    border-block: dotted 1px #333333;
    list-style-image: url(images/download.png);
}
.my-form{
    padding: 20px;
}
.my-form .form-group{
    padding: 15px;
    

}
.my-form label{
    display: block;
}
.my-form input[type="text"], .my-form textarea{
    padding: 8px;
    width: 100%;
}
.block{
    float: left;
    width: 33.3%;
    border: 1px solid #cccccc;
    padding: 10px;
    box-sizing: border-box;
}
#main-block{
    float: left;
    width: 70%;
    box-sizing: border-box;
}
#sidebar{
    float: right;
    width: 30%;
    background-color: #333333;
    color: #ffffff;
    padding: 15px;
    box-sizing: border-box;
}
.p-box{
    width: 800px;
    height: 500px;
    border: 1px solid #000000;
    margin: 30px;
    position: relative;
    background-image: url(images/lumbago.jpg);
    background-position: center center;
    background-repeat: no-repeat;
}
.fix-me{
    position: fixed;
    top: 400px;
}
.my-list li:first-child{
    background: red;
}
.my-list li:last-child{
    background: blue;
}
.my-list li:nth-child(5){
    background: yellow;
}
.my-list li:nth-child(even){
    background: grey;
}